@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
    justify-content: center;
    background-color: #031841;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 700; font-family: Inter; color: #fff;}
/*--------------------*/
.container {
    max-width: 400px;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
h1 {
    font-size: 40px;
    padding-bottom: 81px;
    margin-top: 47px;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
input[type="text"] {
    margin-top: 31px;
    padding: 14px 219px 14px 27px;
    color: #fff;

}
::placeholder {
    color: #fff;
}
input {
    font-weight: 700;
    font-size: 16px;
    border: 3px solid #FFFFFF;
    border-radius: 16px;
    background-color: none;
    font-family: Inter;
    background-color: #031841;
    color: #fff;
}
input[type="submit"] {
    margin-top: 52px;
    padding: 14px 30px 14px 30px;
    color: #fff;
    font-size: 14px;
    max-width: 180px;
    margin: 52px auto 0px auto;
}
input[type="submit"]:hover {
    background-color: #fff;
    color: #031841;


}
input {
    transition: 400ms ease;
}
