{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New gift</title>
    <link rel="stylesheet" href="{% static "login.css" %}">
</head>
<body>
    <div class="container">
        {% block f%}
        {%if error%}
        <h1>Something went wrong!</h1>
        {% endif %}
        <h1>Gift checklist</h1>

        <form method="post" action="/login">
        
        {{form.as_p}}
        {% csrf_token %}
        <input type="submit" value="Submit">
        </form>
        {% endblock %}
    </div>

</body>
</html>
